<div class="welcome-banner">


    <div class="content">


        <h2>
            Welcome to AI-STUDIO 👋
        </h2>


        <p>
            Create amazing videos and images using Artificial Intelligence.
        </p>



        <button 
            mat-raised-button
            class="create-btn">


            <mat-icon>
                add
            </mat-icon>


            Create Project


        </button>


    </div>



    <div class="banner-icon">


        <mat-icon>
            auto_awesome
        </mat-icon>


    </div>


</div>