<div class="panel">

    <h3>
        Recent Projects
    </h3>


    <div class="project-list">


        <div class="project-item">

            <div class="project-icon">
                🎬
            </div>

            <div class="project-info">

                <h4>Wedding Intro</h4>

                <span>
                    Video Project
                </span>

            </div>


            <button>
                Open
            </button>

        </div>



        <div class="project-item">

            <div class="project-icon">
                📱
            </div>

            <div class="project-info">

                <h4>YouTube Shorts</h4>

                <span>
                    Short Video
                </span>

            </div>


            <button>
                Open
            </button>

        </div>



        <div class="project-item">

            <div class="project-icon">
                🏢
            </div>

            <div class="project-info">

                <h4>Company Promo</h4>

                <span>
                    Marketing Video
                </span>

            </div>


            <button>
                Open
            </button>

        </div>



    </div>

</div>