<aside class="sidebar">


    <nav class="menu">


        <a 
        routerLink="/"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                dashboard
            </mat-icon>


            <span>
                Dashboard
            </span>


        </a>



        <a 
        routerLink="/projects"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                folder
            </mat-icon>


            <span>
                Projects
            </span>


        </a>



        <a 
        routerLink="/editor"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                movie
            </mat-icon>


            <span>
                Video Editor
            </span>


        </a>



        <a 
        routerLink="/images"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                image
            </mat-icon>


            <span>
                AI Images
            </span>


        </a>




        <a 
        routerLink="/templates"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                auto_awesome
            </mat-icon>


            <span>
                Templates
            </span>


        </a>




        <a 
        routerLink="/settings"
        routerLinkActive="active"
        class="menu-item">


            <mat-icon>
                settings
            </mat-icon>


            <span>
                Settings
            </span>


        </a>


    </nav>




    <div class="logout">


        <button class="menu-item">


            <mat-icon>
                logout
            </mat-icon>


            <span>
                Logout
            </span>


        </button>


    </div>


</aside>