<div class="toolbar">

    <div class="left">

        <button mat-icon-button>

            <mat-icon>play_arrow</mat-icon>

        </button>

        <button mat-icon-button>

            <mat-icon>pause</mat-icon>

        </button>

        <button mat-icon-button>

            <mat-icon>stop</mat-icon>

        </button>

    </div>

    <div class="center">

        00:00 / 00:00

    </div>

    <div class="right">

        <button mat-icon-button>

            <mat-icon>remove</mat-icon>

        </button>

        <span>

            100%

        </span>

        <button mat-icon-button>

            <mat-icon>add</mat-icon>

        </button>

    </div>

</div>